<html>
<head>
    <title>Friendly Bakery</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>    
        <center>
            <img src="https://i.pinimg.com/originals/50/a4/9a/50a49ad09eeaa3d185cacdd678dd7cf6.png" width= "10%">
        </center>
        <audio controls autoplay hidden>
        <source src="cooking.mp3" type="audio/ogg">
        <source src="cooking.mp3" type="audio/mpeg">
        </audio>
        <ul class="nav">
            <li><a href="home" class="link">Home</a></li>
            <li><a href="products" class="link">Products</a></li>
            <li><a href="cookies" class="link">Cookies</a></li>
            <li><a href="muffin" class="link">Cupcakes</a></li>
            <li><a href="cake" class="link">Cakes</a></li>
        </ul>
    </header>
    <center>
        <h1>Carlito's Bakery</h1>
        <img src="https://cdn.vox-cdn.com/thumbor/ELzXccvq9xjnmYP-wgPaVb3V27g=/0x0:6000x3376/1200x800/filters:focal(2520x1208:3480x2168)/cdn.vox-cdn.com/uploads/chorus_image/image/59419423/DSCF2421.0.jpg" width= "55%">
    </center>
    <h2>Mission Satement:</h2>
        <p>We work our hardest to ensure customers get the freshiest product out in the market to date. Our style of baking comes from the heart and will surely remind you of the wonders of Puerto Rico.</p>

</body>
</html>