body{
    background: background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lavenderblush;
    font-size: 44;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lavenderblush;
    font-size: 34;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 32;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link:hover{
    background-color: black;
}

.link{
  display: inline-block;  
  color: mediumpurple;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  float: left;
}

.product-img{
width: 350px;
height: 300px;
}

.shadow {
    display: inline-block;
    box-shadow: 5px 5px #00000099;
    background-color: antiquewhite;
    margin: 10px;
    border: 1px solid black;
    color: black;
}